$validColor: #00ff00;
$invalidColor: #ff0000;
$txtContColor: #000000;
$innerColor: #ffffff;
$inpBorder: #a6a6a6;
$btnDarkBlue: #0097f4;
$darkBlueHvr: #0c59cf;
$btnLiteBlue: #77cbfb;
$liteBlueHvr: #34b3fc;
$btnLiteGreen: #99ea99;
$liteGreenHvr: #65e565;
$contActive: #d1eef4;
$contInactive: #eeeeee;
$shadowColor: #848484;
$greyBgr: #717171;