@import './vars';
@import './extends';
@import './normalize';
@import './mixins';

.cover-div {    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.3);
}

.error-data {
    @extend %error;    
    top: 53px;       
}

.wrong-data {
    @extend %error;
    top: 80px;      
}

.rectangle-btn {
    border-radius: 3px;       
    font-weight: 700;
    color: $innerColor;
    @extend %button;

    &__img {
        width: 100%;
    }

    &--blue {
        padding: 10px 40px;
        background-color: $btnDarkBlue;
        text-transform: uppercase;
        
        &:hover {
            background-color: $darkBlueHvr;
        }
    }

    &--light-blue {
        width: 35px;
        height: 35px;
        padding: 5px;        
        background-color: $btnLiteBlue;
        @extend %btnBlueHvr;        
    }
}

@import './login/login';
@import './main_page/main_page';
@import './pop_up/pop_up';


