.auth-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 50px; 
    background-color: $contInactive;  

    &__title {
        @extend %title;
    }

    &__input:first-of-type {
        padding-bottom: 30px;
    }

    &__input:nth-of-type(2) {
        padding-bottom: 40px;
    }

    &__button {
        @include flex($jc: flex-end);
    }
}

.auth-inp {    
    @include flex($fd: column);
    position: relative;

    &__name {
        text-align: left;
        padding-bottom: 2px;         
    }

    &__data {
        @extend %pageFont;
        border: 2px solid black {
            radius: 4px;
        }
        padding: 5px;
    }
}

.valid {
    border-color: $validColor;
}

.invalid {
    border-color: $invalidColor;
}